*{
    margin:0;
    padding:0;  
}

 
h1{
    color: #AD5E00;
    text-align: left;
    font-family: lexend zetta;
    font-size: 40px;
}
.navbar-toggler-icon{
    background-image: url(../img/account-circle.png);
}

.navbar-toggler{
    color: #AD5E00;
}


.nav-link:hover{
    color: azure;
}

.nav-link{
    color:#AD5E00;
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
    text-decoration: none;

}

.me-auto{
    margin-left:50%;
}

body{
    background-color: #1E1E1E;
    
}

main{
    background-color: #1E1E1E;
    height: 775px;
    position: relative;
}

#logoprincipal{
    width: 50%;
    height: 30%;
    object-fit: contain;

 
}

#menuprincipal{
    background-image: url(../img/fondo.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #AD5E00;
    font-size: 50px;
    font-family: roboto;
    text-align: center;
}
footer{
    background-color: #1E1E1E;    
}

p{
    color:#AD5E00;
    font-family: roboto;
    font-size: 20px;
}


footer p{
    text-align: center;
}

/*PRODUCCIONES*/

#main_producciones{
    display: flex;
    flex-direction: column;
    background-image: url(../img/mezcla.jpg);
    background-size: cover;
    height: 800px;
    justify-content: center;
    align-items: center;

}

h3{
    color: #AD5E00;
    font-size: 20px;
    font-family: roboto;
    text-align: center;
    padding: 20px 0px 0px 0px;


}

#titulo_canciones{
    color: #AD5E00;
    font-size: 20px;
    font-family: roboto;
    text-align: center;
    padding: 20px 5px 20px 5px;
}



#producciones_contenido{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 750px;
    width: 1500px;

    border-radius: 20px;
    
}

#videos_realizados{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

/*SERVICIOS*/

#servicios{
    background-image: url(../img/micro.jpg);
    background-size: cover;
    position: relative;
}

h4{
    color: #AD5E00;
    font-size: 15px;
    font-family: roboto;
    text-align: center;
    padding: 0px 5px 20px 5px;
}


.cards_contenedor{
    display: grid;
   grid-template-rows: 380px 380px 380px;
   grid-template-areas: "a1 a2 a3"
                       "a4 a5 a6"                
                       ;
    align-content: space-around;
    justify-items: center;
    align-items: center;


}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E1E1E;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.cards_img{
    height: 50%;
    width: 80%;
    object-fit: contain;
}

/*SOBRE MI*/
#sobremi{
    display: flex;
    justify-content: center;
    padding: 100px 100px 100px 100px;
}

#sobremi_hijo{
    padding: 20px 20px 20px 20px; 
}

#sobremi_hijouno{
    width: 700px;
 
}

/*CONTACTO*/
#main_contacto{
    background-image: url(../img/fondo.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_contacto{
    background-color: #1E1E1E;
    width: 1150px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#formulario{
    display: flex;
    flex-direction: column; 
    border-right: 2px solid #AD5E00;
     padding-right: 50px;
}

#datosdecontacto{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: roboto;
    background-color: #1E1E1E;
     justify-content: center;
     padding-left: 50px;
}

.checkboxes{
     display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 150px;
    grid-template-areas: "a1 a1"
                        "a2 a3 "
                        "a4 a5 "
                        "a6 a7";

}

#checkbox_titulo{
    grid-area: a1;
    
}
#checkbox_beats{
    grid-area: a2;
    margin-right: 10px;
}
#checkbox_grabacion{
    grid-area: a3;
    margin-right: 10px;
}
#checkbox_produccion{
    grid-area: a4;
    margin-right: 10px;
}
#checkbox_mezcla{
    grid-area: a5;
    margin-right: 10px;
}
#checkbox_videos{
    grid-area: a6;
    margin-right: 10px;
}
#checkbox_clases{
    grid-area: a7;
    margin-right: 10px;
}

label{
    color: #AD5E00;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
    padding: 20px 0px 2px 0px;
}

legend{
    color:#AD5E00;
    font-size: 20px;
    font-family: roboto;
}
input{
    height: 40px;
}

#boton{
    height: 36px;
    width: 80px;
    background-color: #AD5E00;
    color:#1E1E1E;
    font-weight: bold;
    font-family: roboto;
    border-color: #AD5E00;
    border-radius: 5px;
    margin-top: 10px;
    align-self: flex-end;
}

.checkbox_text{
    display: flex;
     align-items: center;
    font-size: 15px;
}
 
textarea{
    width: 400px;
    height: 100px;
    max-width: 400px;
    max-height: 100px;
}

a{
    color: #AD5E00;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
}

a:hover{
     color: aliceblue;
}

/* L */
@media only screen and ( max-width:992px){

    /*INICIO*/
    h1{
        font-size: 20px;
    }

    .me-auto{
        margin-left: 0%;
    }      

    p{
        font-size: 12px;
    }

    #logoprincipal{
        width: 400px;
        height: 300px;
        object-fit: contain;
    }

    /*PRODUCCIONES*/

    #producciones_contenido{
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        height: 650px;
        width: 950px;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        
    }


    .videos_prod{
        width: 325px;
        height: 184px;
        margin-top: 20px;

    }

    #main_producciones{
        display: flex;
        flex-direction: column;
        background-image: url(../img/mezcla.jpg);
        height: 700px;
        background-size: cover;
        justify-content: center;
        align-items: center;
            
    }
   /*SERVICIOS*/

   #servicios{
    height: 1150px;
}
    .cards_contenedor{
    
        grid-template-areas:"a1 a2"
                           "a3 a4" 
                           "a5 a6";        
            
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #1E1E1E;
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }



}


/* S */
@media only screen and ( max-width:600px){

    /*INICIO*/
    h1{
        font-size: 20px;
    }

    .me-auto{
        margin-left: 0%;
    }

    p{
        font-size: 14px;
    }

    #logoprincipal{
        width: 400px;
        height: 300px;
        object-fit: contain;
    }

    /*PRODUCCIONES*/

    #producciones_contenido{
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        height: 1050px;
        width: 350px;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;  
    }

    #videos_realizados{
        flex-direction: column;
    }

    .videos_prod{
        width: 310px;
        height: 176px;
        margin-top: 20px;
    }

    #main_producciones{
        display: flex;
        flex-direction: column;
        background-image: url(../img/mezcla.jpg);
        height: 1100px;
        background-size: cover;
        justify-content: center;
        align-items: center;
            
    }
   /*SERVICIOS*/

   #servicios{
    height: 720px;
}
    .cards_contenedor{
    
        grid-template-areas:"a1 a2"
                           "a3 a4" 
                           "a5 a6";
        grid-template-rows: 230px 230px 230px;        
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #1E1E1E;
        width: 160px;
        height: 186px;
        border-radius: 20px;
    }

    /*SOBRE MI*/

    #sobremi_main{
        height: 980px;
    }
    #sobremi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 16px 16px 16px;
    }

    #sobremi_hijo{
        padding: 0px 0px 0px 0px;
        justify-content: center;   
    }

    #sobremi_img{
        width: 328px;
        height: auto;
    }

    #sobremi_hijouno{
        width: 328px;
    }


    /*CONTACTO*/
    #main_contacto{
        height: 980px;
    
    }

    #page_contacto{
        width: 360px;
        height: 900px; 
        flex-direction: column;
    
    }

    #formulario{

        border-right: 0px;
        padding-right: 0px;
        border-bottom: 2px solid #AD5E00;
        padding-bottom: 25px;
        width: 328px;  
    }

    #datosdecontacto{
        padding-left: 0px;
        padding-top: 25px;
    }

    label{
        font-size: 18px;
    }

    textarea{
        width: 328px;
        max-width: 328px;
    }

    a{
        font-size: 18px;
    }
    #datosdecontacto_texto{
        margin:0px;
    }

}

