* {
  margin: 0;
  padding: 0;
}

/*INICIO*/
nav h1 {
  color: #ad5f00;
  text-align: left;
  font-family: lexend zetta;
}
nav .navbar-toggler-icon {
  background-image: url(../img/account-circle.png);
}
nav .navbar-toggler {
  color: #ad5f00;
}
nav .nav-link:hover {
  color: azure;
}
nav .nav-link {
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
  color: #ad5f00;
  text-decoration: none;
}

body {
  background-color: rgb(30, 30, 30);
}

main {
  background-color: rgb(30, 30, 30);
}

#menuprincipal {
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(30, 30, 30);
}
footer p {
  text-align: center;
  margin-top: 5px;
  color: #ad5f00;
}

/*PRODUCCIONES*/
.titulo_canciones, #sobremi h3, #main_producciones h3 {
  color: #ad5f00;
  font-size: 20px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  padding: 20px 5px 20px 5px;
}

#main_producciones {
  display: flex;
  flex-direction: column;
  background-image: url(../img/mezcla.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
#main_producciones #producciones_contenido {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
}
#main_producciones h3 {
  padding: 20px 0px 0px 0px;
}

/*SERVICIOS*/
#servicios {
  background-image: url(../img/micro.png);
  background-size: cover;
  position: relative;
}
#servicios .cards_contenedor {
  display: grid;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}
#servicios h4 {
  font-size: 15px;
  font-family: roboto;
  font-weight: 0;
  color: #ad5f00;
  text-align: center;
  padding: 0px 5px 20px 5px;
}
#servicios .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
}
#servicios .cards__img {
  height: 50%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
#servicios .cards:hover {
  border: 2px solid #ad5f00;
}

/*SOBRE MI*/
#sobremi {
  display: flex;
}
#sobremi h3 {
  text-align: left;
}
#sobremi p {
  font-size: 15px;
  font-family: roboto;
  font-weight: 0;
  color: #ad5f00;
}

/*CONTACTO*/
#contacto__main {
  background-image: url(../img/mezcla.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacto__main #contacto__card {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
#contacto__main #contacto__form {
  display: flex;
  flex-direction: column;
}
#contacto__main #datosdecontacto {
  font-size: 20px;
  font-family: roboto;
  font-weight: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  justify-content: center;
  padding-left: 50px;
}
#contacto__main .checkbox {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 150px;
  grid-template-areas: "a1 a1" "a2 a3 " "a4 a5 " "a6 a7";
}
#contacto__main #checkbox__titulo {
  grid-area: a1;
}
#contacto__main #checkbox__beats {
  grid-area: a2;
  margin-right: 10px;
}
#contacto__main #checkbox__grabacion {
  grid-area: a3;
  margin-right: 10px;
}
#contacto__main #checkbox__produccion {
  grid-area: a4;
  margin-right: 10px;
}
#contacto__main #checkbox__mezcla {
  grid-area: a5;
  margin-right: 10px;
}
#contacto__main #checkbox__videos {
  grid-area: a6;
  margin-right: 10px;
}
#contacto__main #checkbox__clases {
  grid-area: a7;
  margin-right: 10px;
}
#contacto__main label {
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
  color: #ad5f00;
  padding: 20px 0px 2px 0px;
}
#contacto__main legend {
  font-size: 20px;
  font-family: roboto;
  font-weight: 0;
  color: #ad5f00;
}
#contacto__main input {
  height: 40px;
}
#contacto__main #boton {
  font-size: 15px;
  font-family: roboto;
  font-weight: bold;
  height: 36px;
  width: 80px;
  background-color: #ad5f00;
  color: rgb(30, 30, 30);
  border-color: #ad5f00;
  border-radius: 5px;
  margin-top: 10px;
  align-self: flex-end;
}
#contacto__main #boton:hover {
  background-color: #b67e39;
  border-color: #b67e39;
}
#contacto__main .checkbox_text {
  font-size: 15px;
  font-family: roboto;
  font-weight: 0;
  display: flex;
  align-items: center;
  color: #ad5f00;
}
#contacto__main a {
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
  color: #ad5f00;
}
#contacto__main a:hover {
  color: aliceblue;
}
#contacto__main p {
  font-size: 18px;
  font-family: roboto;
  font-weight: 0;
  color: #ad5f00;
  margin: 0px;
}

/* MOBILE */
@media only screen and (min-width: 320px) {
  /*INICIO*/
  nav h1 {
    font-size: 20px;
  }
  .me-auto {
    margin-left: 0%;
  }
  main {
    height: 800px;
  }
  #logoprincipal {
    width: 400px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer p {
    font-size: 14px;
    font-family: roboto;
    font-weight: 0;
  }
  /*PRODUCCIONES*/
  #main_producciones {
    height: 1100px;
  }
  #main_producciones #producciones_contenido {
    height: 1050px;
    width: 350px;
    padding: 20px 20px 20px 20px;
  }
  #main_producciones #videos_realizados {
    flex-direction: column;
  }
  #main_producciones .videos_prod {
    width: 310px;
    height: 176px;
    margin-top: 20px;
  }
  /*SERVICIOS*/
  #servicios {
    height: 720px;
  }
  #servicios .cards_contenedor {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-rows: 230px 230px 230px;
  }
  #servicios .cards {
    width: 160px;
    height: 186px;
  }
  /*SOBRE MI*/
  #sobremi__main {
    height: 980px;
  }
  #sobremi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 16px 16px;
  }
  #sobremi__hijo {
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }
  #sobremi__img {
    width: 328px;
    height: auto;
  }
  #sobremi__hijouno {
    width: 328px;
  }
  /*CONTACTO*/
  #contacto__main {
    height: 950px;
  }
  #contacto__main #contacto__card {
    width: 360px;
    height: 900px;
    flex-direction: column;
  }
  #contacto__main #contacto__form {
    border-right: 0px;
    padding-right: 0px;
    border-bottom: 2px solid #AD5E00;
    padding-bottom: 25px;
    width: 328px;
  }
  #contacto__main #datosdecontacto {
    padding-left: 0px;
    padding-top: 25px;
  }
  #contacto__main textarea {
    width: 328px;
    height: 150px;
    max-width: 328px;
    max-height: 150px;
  }
}
/* TABLET */
@media only screen and (min-width: 768px) {
  /*INICIO*/
  nav .nav-link {
    font-size: 20px;
  }
  main {
    height: 775px;
    position: relative;
  }
  #logoprincipal {
    width: 50%;
    height: 30%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer p {
    font-size: 15px;
  }
  /*PRODUCCIONES*/
  #main_producciones {
    height: 800px;
  }
  #main_producciones #producciones_contenido {
    height: 650px;
    width: 950px;
  }
  #main_producciones #videos_realizados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #main_producciones .videos_prod {
    width: 325px;
    height: 184px;
    margin-top: 20px;
  }
  /*SERVICIOS*/
  #servicios {
    height: 1150px;
  }
  #servicios .cards_contenedor {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-rows: 380px 380px 380px;
  }
  #servicios .cards {
    width: 300px;
    height: 300px;
  }
  /*SOBRE MI*/
  #sobremi__main {
    height: 800px;
  }
  #sobremi {
    flex-direction: row;
    justify-content: center;
    padding: 100px 100px 100px 100px;
  }
  #sobremi p {
    font-size: 20px;
  }
  #sobremi__hijo {
    padding: 20px 20px 20px 20px;
  }
  #sobremi__img {
    width: 380px;
    height: auto;
  }
  #sobremi__hijouno {
    width: 700px;
  }
  /*CONTACTO*/
  #contacto__main {
    height: 800px;
  }
  #contacto__main #contacto__card {
    flex-direction: row;
    width: 1100px;
    height: 700px;
  }
  #contacto__main #contacto__form {
    width: 400px;
    border-right: 2px solid #ad5f00;
    padding-right: 50px;
    border-bottom: 0;
    padding-bottom: 0;
  }
  #contacto__main textarea {
    width: 348px;
    height: 100px;
    max-width: 348px;
    max-height: 100px;
  }
  #contacto__main #datosdecontacto {
    padding-left: 50px;
  }
  #contacto__main a {
    font-size: 20px;
  }
  #contacto__main p {
    font-size: 20px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 992px) {
  /*INICIO*/
  nav h1 {
    font-size: 40px;
  }
  .me-auto {
    margin-left: 50%;
  }
  /*PRODUCCIONES*/
  #main_producciones {
    height: 800px;
  }
  #main_producciones #producciones_contenido {
    height: 750px;
    width: 1500px;
  }
  #main_producciones #videos_realizados {
    justify-content: space-evenly;
    align-items: center;
  }
  /*SERVICIOS*/
  #servicios {
    height: 800px;
  }
  #servicios .cards_contenedor {
    grid-template-rows: 380px 380px;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6";
  }
}/*# sourceMappingURL=style.css.map */